:root {
    /* text */
--Pale-Violet: hsl(276, 100%, 81%); /*sub-heading at the top of the app UI*/
--Moderate-Violet: hsl(276, 55%, 52%); /*chat-on-the-left */
--Desaturated-Dark-Violet: hsl(271, 15%, 43%); /*chat-on-the-right*/
--Grayish-Blue: hsl(206, 6%, 79%); /*placeholder text*/
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%); /*main heading*/
--Dark-Grayish-Violet: hsl(270, 7%, 64%); /*paragraph*/

/* Gradients */

--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);

/* Secondary */

--White: hsl(0, 0%, 100%);
--Light-Grayish-Violet: hsl(270, 20%, 96%); /*app background*/
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%); /*submit button background*/
--Very-Light-Magenta: hsl(289, 100%, 72%); /*radio button outline*/

}

body {
    font-family: "Rubik";
    font-size: 16px;
    margin:  auto;
    justify-content: center;
   
}



#container {
    display: grid; 
    grid-template-columns: 0.5fr 1fr 0.5fr; 
    gap: 0px 0px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
    /* background-color: var(--Light-Grayish-Violet); */
    background-color: var(--White);
}

.section-left {
    background-image:linear-gradient(to bottom left, var(--Light-Magenta), var(--Light-Violet));
    border-radius: 0px 0px 180px 100px;
    }

.section-right {
    background-color: var(--Light-Grayish-Violet);
    border-radius: 180px 30px 0px 0px;
}

.section-center {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.center-mobile {
    display: grid;
    grid-template-rows: -1rem repeat(10, 1fr);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4px;
    border: 5px solid var(--White);
    border-radius: 18px;
    /* padding: 5px; */
    padding: 5px;
    width: 140px;
    height: 300px;
    background-color: var(--Light-Grayish-Violet);
    position: relative;
    right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.box {
    font-size: 4px;
}

.box-border {
    /* border: 1px solid; */
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    background-color: var(--Grayish-Blue);
}

.chat {
    width: 22ch;
    font-size: 6px;
    padding: 0px 2px;
}

.box-border-right {
    background-color: var(--White);
}

.mobile-first {
    display: flex;
    flex-direction: column;
    font-size: 6px !important; 
    background-image:linear-gradient(to bottom left, var(--Light-Magenta), var(--Light-Violet));
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 8px;
    color: var(--White);
}

.mobile-first::before {
    content: " ";
    display: block;
    background-color: var(--White);
    margin: auto;
    width: 60%;
    /* width: 125px; */
    height: 8px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.mobile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-first_info_name {
    opacity: 0.8;
}

.mobile-first_info_status {
    opacity: 0.5;
}


.mobile-img {
    width: 24px;
    border-radius: 50%;
    height: 24px;
}
   

.mobile-second {
    font-size: 4px;
    color: var(--Moderate-Violet);
}

.mobile-third {
    color: var(--Moderate-Violet);
}

.mobile-fourth {
    text-align: right;
}



.mobile-fourth-img {
    max-width: 22px;
    width: 100%;
    border-radius: 8px;
}

.mobile-fith {
    text-align: right;
    color: var(--Desaturated-Dark-Violet);
}

.mobile-sixth {
    text-align: right;
    color: var(--Desaturated-Dark-Violet);
}

.mobile-seventh {
    color: var(--Moderate-Violet);
}

.mobile-eighth {
    color: var(--White);
}

.mobile-ninth {
    color: var(--White);
}

.mobile-tenth {
    background-color: var(--White);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 118px;
    justify-self: center;
    padding:2px 0px 2px 10px;
}



.time {
    opacity: 0.7;

}

.price {
    font-size: 8px;
    font-weight: 700;
}

.circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid var(--Very-Light-Magenta);
}

.tenth_circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:var(--Very-Dark-Desaturated-Violet) ;
}

.box-info {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 86px;
    padding: 4px 0px;
    background-image:linear-gradient(to top right, var(--Light-Magenta), var(--Light-Violet));
    border-radius: 5px 5px 5px 0px;
}

.center-info {
    
}

.center-info-title {
    color: var(--Very-Dark-Desaturated-Violet);
}

.center-info-excerpt {
    width: 44ch;
    color: var(--Dark-Grayish-Violet);
}



